body {
  background-color: #272f3f;
  /* background-color: #363f54; */
  /* background-color: #F5E5CA; */
  /* background-color: #E2554f; */
  /* background-color: #ed6b2c; */
  /* background-color: #ed9837; */
  /* background-color: #efbe43; */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 30em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  /* filter: drop-shadow(0 0 2em #ED9837); */
  /* filter: drop-shadow(0 0 2em #272f3f); */
  /* filter: drop-shadow(0 0 2em #363f54); */
  /* filter: drop-shadow(0 0 2em #F5E5CA); */
  /* filter: drop-shadow(0 0 2em #E2554f); */
  filter: drop-shadow(0 0 2em #ed6b2c);
  /* filter: drop-shadow(0 0 2em #ed9837); */
  /* filter: drop-shadow(0 0 2em #efbe43); */
}

h1 {
  font-family: sans-serif;
  color: white;
}